{% extends 'base.html' %}

    {% block extracss %}
        <link rel=stylesheet href={{STATIC_URL}}datepicker/jquery.datetimepicker.css/>
    {% endblock %}

    {% block bodyclass %}left-slider two-column{% endblock bodyclass %}


    {% block content %}
    {% include 'includes/home_slider.html' %}

    <div id=main>
        <div id=primary>
            <div id=content>
                <div class=post>
                    <div class=entry-header>
                        <h3 class=entry-format>We are leading car rental agency with 300,000 Happy Customers.</h3> </div>
                    <div class=entry-content> Morbi orci ante, consectetur id vestibulum quis, suscipit eu eros. Duis non egestas dolor. Duis non volutpat leo. Aliquam nisi eros, accumsan non gravida vitae, ultrices eu eros. Phasellus sagittis mattis tristique. </div>
                    <div class=entry-meta><a href=# title>Learn more</a>
                    </div>
                </div>
            </div>
            <aside id=secondary>
                <div class=first-column>
                    <div class=feature-single> <img class=feature-title-img src="{{STATIC_URL}}images/1-icon.png" alt="" />
                        <div class=feature-title>Special low rates on car booking</div>
                        <div>Nunc ut nibh enim, id dapibus quam. Mauris id est at diam rutrum ultricies. Vivamus et dolor velit. Nam congue blandit nulla sed tincidunt.</div>
                    </div>
                    <div class=feature-single> <img class=feature-title-img src="{{STATIC_URL}}images/2-icon.png" alt="" />
                        <div class=feature-title>Dedicated customer support</div>
                        <div>Praesent tempus egestas blandit. Nunc euismod volutpat ultrices. Nam fermentum nibh eget mi vehicula dictum.</div>
                    </div>
                </div>
                <div class=second-column>
                    <div class=feature-single> <img class=feature-title-img src={{STATIC_URL}}images/3-icon.png alt />
                        <div class=feature-title>Manage your booking online</div>
                        <div>Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
                    </div>
                    <div class=feature-single> <img class=feature-title-img src={{STATIC_URL}}images/4-icon.png alt />
                        <div class=feature-title>You are guaranteed a car</div>
                        <div>Donec vitae orci metus, et viverra ipsum. Curabitur tristique tristique lacinia. Sed sagittis placerat vestibulum.</div>
                    </div>
                </div>
            </aside>
            <div class=clear></div>
        </div>
        <div id=sign_up_conteiner>
            <form action=# id=sign_up>
                <div class=sign_up_text> Signup for our email to celebrate great specials </div>
                <div class=sign_up_form>
                    <input id=sign_up_name type=text value placeholder=Name name="sign_up_name" />
                    <input id=sign_up_email type=email value placeholder=Email name="sign_up_email" />
                    <input class=orange_button type=submit value="Signup" />
                    <div class=clear></div>
                </div>
                <div class=clear></div>
            </form>
        </div>
    </div>
    <div class=clear></div>
</div>

 {% endblock content %}


 {% block extrajs %}
     <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src="{{STATIC_URL}}js/jquery.geocomplete.min.js"></script>
    <script type=text/javascript src={{STATIC_URL}}js/jquery.slider.min.js></script>
    <script type=text/javascript src={{STATIC_URL}}datepicker/jquery.datetimepicker.js></script>

<script type="text/javascript">
    $(".location-from").geocomplete({
        details: ".geo-city_from",
        detailsAttribute: "data-geo"
    })

    $(".location-to").geocomplete({
        details: ".geo-city_to",
        detailsAttribute: "data-geo"
    })



$(document).ready(function(){      //Add this line (and it's closing line)
    var currentDate = new Date();
    $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd',
        maxDate: 0,
        changeYear: true 
    }).attr('readonly', 'readonly');
    $(".datepicker").datepicker("setDate", currentDate);
});

</script>

{% endblock %}