<footer id=footer>
    <div id=footer-menu>
        <div class=footer-content>
            <div class=footer-navbar>
                <div class=footer-nav>
                    <h3 class=widget-title>Renty</h3>
                    <ul>
                        <li><a href=01-home-v1.html title>Home</a>
                        </li>
                        <li><a href=# title>Privacy</a>
                        </li>
                        <li><a href=# title>Services</a>
                        </li>
                        <li><a href=# title>Partners</a>
                        </li>
                        <li><a href=# title>News</a>
                        </li>
                    </ul>
                </div>
                <div class=footer-nav>
                    <h3 class=widget-title>About</h3>
                    <ul>
                        <li><a href=# title>Latest News</a>
                        </li>
                        <li><a href=# title>Press Releases</a>
                        </li>
                        <li><a href=# title>Careers</a>
                        </li>
                        <li><a href=# title>Terms of Use</a>
                        </li>
                    </ul>
                </div>
                <div class=footer-nav>
                    <h3 class=widget-title>Support</h3>
                    <ul>
                        <li><a href=# title>Contact Us</a>
                        </li>
                        <li><a href=# title>Find Your Invoice</a>
                        </li>
                        <li><a href=10-faq.html title>FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class=widget-area>
                <div class="recent_tweets footer-widget-single">
                    <h3>Recent tweets</h3>
                    <div class=recent_tweets_content><a href=# title>@bestwebsoft</a> velit, vitae tincidunt orci. Proin vitae auctor lectus.</div>
                    <div class=recent_tweets_url><a href=# title>http://bestwebsoft.com</a>
                    </div>
                    <div class=recent_tweets_time>posted 2 days ago</div>
                </div>
            </div>
            <div class="custom-info footer-widget-single">
                <div class=support> <img src={{STATIC_URL}}images/support-icon.png alt />
                    <div>
                        <div class=title>Online support</div>
                        <div class=phone>+1 (555) 555 - 28 - 28</div>
                        <div class=email><a href=# title>sales@bestwebsoft.com</a>
                        </div>
                        <div class=clear></div>
                    </div>
                    <div class=clear></div>
                </div>
                <div class=social-plugins>
<!--                     <div class=fcbk_like>
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.bestwebsoft.com&amp;locale=en_US&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" style=border-width:0;border:0;overflow:hidden;width:110px;height:21px;background-color:transparent></iframe>
                    </div>
                    <div class=twitter_like> <a href=https://twitter.com/share class=twitter-share-button>Tweet</a>
                        <script type=text/javascript>
                            ! function(f, a, g) {
                                var e, b = f.getElementsByTagName(a)[0],
                                    c = /^http:/.test(f.location) ? "http" : "https";
                                if (!f.getElementById(g)) {
                                    e = f.createElement(a);
                                    e.id = g;
                                    e.src = c + "://platform.twitter.com/widgets.js";
                                    b.parentNode.insertBefore(e, b)
                                }
                            }(document, "script", "twitter-wjs");
                        </script>
                    </div>
                    <div class=google_plus_one>
                        <div class=g-plusone data-size=medium></div>
                        <script type=text/javascript>
                            (function() {
                                var a = document.createElement("script");
                                a.type = "text/javascript";
                                a.async = true;
                                a.src = "https://apis.google.com/js/plusone.js";
                                var b = document.getElementsByTagName("script")[0];
                                b.parentNode.insertBefore(a, b)
                            })();
                        </script>
                    </div> -->
                </div>
            </div>
            <div class=clear></div>
        </div>
    </div>
    <div id=footer-content> <img class=site-logo src={{STATIC_URL}}images/thumb.png alt />
        <h1 class=site-title>Renty</h1>
        <div class=company-name>Renty Company Inc,120 CA 15th Avenue - Suite 214</div>
    </div>
</footer>   