<div class="admin-form-content forgot_passwd_block">
    <div class=admin-form-block>
        <form class="main-form admin-form" action=#>
            <div class=main_form_navigation>
                <div id=tab_forgot_passwd class="title-form current">Forgot Password?</div>
            </div>
            <div id=tab_forgot_passwd_content class=content-form>
                <input id=forgot_pass_email class=input_placeholder type=email value placeholder="Email address" name="forgot_pass_email" />
                <div id=forgot_pass_text> We will send you the password in few minutes.</div>
                <input class="admin-form-submit orange_button" type=submit value="Continue" />
                <div class=admin_form_link> <span class=sign_in><a class=tab_link_button href=#sign_in title>Sign In</a></span> </div>
            </div>
            <div class=clear></div>
        </form>
    </div>
</div>  