{% load cms_tags menu_tags sekizai_tags %}

<div id=branding>
    <div id=branding-content>
        <div class=menus>

            <div class=country>
                <select class=select name=select_country>
                    <option selected=selected>Choose Country</option>
                    <option>USA</option>
                    <option>England</option>
                </select>
            </div>
        </div>
        <div class=title-content>
            <a href=01-home-v1.html title> <img class=site-logo src={{STATIC_URL}}images/thumb.png alt />
                <h1 class=site-title> Renty </h1> </a>
        </div>
        <div class=access-content>
            <label for=menu-icon class=menu-icon><img src={{STATIC_URL}}images/menu.png alt=menu />
            </label>
            <input type=checkbox id=menu-icon value=1 />
            <ul>
                <li class=menu-close> <span>&#10006;</span> </li>
                
                {% show_menu 0 100 100 100 %}

                <li><a href=07-shortcodes.html title>Shortcodes</a>
                </li>
                <li><a href="{% url 'account_login' %}">My Account</a>
                </li>
            </ul>
        </div>
    </div>
    <div class=clear></div>
</div>